.hexadd-game {
  /* maintain 1:1 aspect ratio */
  /*height: 100vw;
  width: 100vw;
  max-width: 100vh;
  max-height: 100vh;*/
  height: 100vmin;
  width: 100vmin;

  background: #e8da96;
  overflow-x: hidden;
    overflow-y: hidden;
}

.hexadd-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hexadd-grid {
  height: 100%;
  width: 100%;
}

.hexadd-grid ol {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: -2vmin;
  width: 100vmin;
  height: 5vmin;
}
.hexadd-grid li {
  display: inline-block;
  width: 5vmin;
  height: 100%;
  margin-right: 7vmin;
  background: #a52e4e;

  text-align: center;
  vertical-align: middle;
  line-height: 5vmin;
  font-size: 4vmin;
}
.hexadd-grid ol:nth-child(odd) {
  margin-left: 6vmin;
}

.hexadd-grid .cell-selected {
  background: lawngreen;
}

.hexadd-grid li:hover {
  font-weight: bold;
}

.hexadd-hud {
  position: relative;
  bottom: 2em;
}
